{% extends "veterinaria/base.html" %}

{% block content %}

<div class="container">

  <h5 class="mt-4">Citas de {{view.kwargs.nombre }}</h5>


  

  <table class="table mt-3">
    <thead>
      <tr>
        <th scope="col">Expediente</th>
        <th scope="col">Mascota</th>
        <th scope="col">fecha</th>
        
        
        <th scope="col">Detalles</th>
      </tr>
    </thead>
    <tbody>
      {% for item in items %}
      
      <tr>
        <th scope="row">{{item.expediente}}</th>
        <td>{{item.mascota.nombre}}</td>
        <td>{{item.cita_fecha}}</td>
        
        
        <td>
          <a class="btn btn-sm btn-info" href="{% url 'cita-id' item.id %}">Detalles</a>
        </td>
      </tr>

      {% endfor %}

      
    </tbody>
  </table>


</div>

{% endblock  %}